.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 防止服务器 git pull 冲突
# 构建后的统计代码，生产环境和开发环境生成的不一样，防止自动化部署报错，需要 ignore
zs.js
# password 闭源
password.ts