# compiled output
/dist
/node_modules

# Logs
log/*
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# 防止服务器 git pull 冲突
# 构建后的统计代码，生产环境和开发环境生成的不一样，防止自动化部署报错，需要 ignore
zs.js
# password 闭源
password.ts